.app {
    position: relative;
    min-height: 100vh;
    background: #CDD2DD;
}

.ellipse {
    position: absolute;
    background: red;
    width: 10%;
    height: 20%;
    border-radius: 100%;
    background: #3AC922;
    opacity: 0.7;
    filter: blur(100px);
    transform: matrix(-0.42, -0.91, -0.91, 0.42, 0, 0);
}

.ellipse:nth-child(even) {
    transform: rotate(-60deg);
}

.topLeft {
    animation: topLeft 45s linear infinite;
}

@keyframes topLeft {
    0% {
        top: 20%;
        left: 0%;
    }
    25% {
        top: 40%;
        left: 60%;
    }
    50% {
        top: 40%;
        left: 0%;
    }
    75% {
        top: 10%;
        left: 70%;
    }
    100% {
        top: 10%;
        left: 0%;
    }
}

.topRight {
    animation: topRight 30s linear infinite;
}

@keyframes topRight {
    0% {
        top: 20%;
        right: 20%;
    }
    25% {
        top: 40%;
        right: 60%;
    }
    50% {
        top: 40%;
        right: 20%;
    }
    75% {
        top: 20%;
        right: 60%;
    }
    100% {
        top: 20%;
        right: 20%;
    }
}

.bottomLeft {
    bottom: 100px;
    left: 100px;
    animation: bottomLeft 45s linear infinite;
}

@keyframes bottomLeft {
    0% {
        bottom: 20%;
        left: 20%;
    }
    25% {
        bottom: 70%;
        left: 70%;
    }
    50% {
        bottom: 70%;
        left: 20%;
    }
    75% {
        bottom: 20%;
        left: 70%;
    }
    100% {
        bottom: 20%;
        right: 20%;
    }
}

.bottomRight {
    animation: bottomRight 30s linear infinite;
}

@keyframes bottomRight {
    0% {
        bottom: 20%;
        right: 20%;
    }
    25% {
        bottom: 70%;
        right: 70%;
    }
    50% {
        bottom: 20%;
        right: 70%;
    }
    75% {
        bottom: 70%;
        right: 20%;
    }
    100% {
        bottom: 20%;
        right: 20%;
    }
}